*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
assets/banned-by-21-at-work.png filter=lfs diff=lfs merge=lfs -text
assets/banned-by-21.png filter=lfs diff=lfs merge=lfs -text
data/test_images/baseline-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/baseline-02.png filter=lfs diff=lfs merge=lfs -text
data/test_images/baseline-03.png filter=lfs diff=lfs merge=lfs -text
data/test_images/bindi-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/buddhist-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/burqa-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/collar-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/crucifix-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/hijab-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/hijab-02.png filter=lfs diff=lfs merge=lfs -text
data/test_images/kara-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/kippah-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/kippah-02.png filter=lfs diff=lfs merge=lfs -text
data/test_images/kirpan-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/medical-mask-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/niqab-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/nun-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/taqiya-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/tilakah-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/tilakah-02.png filter=lfs diff=lfs merge=lfs -text
data/test_images/turban-01.png filter=lfs diff=lfs merge=lfs -text
data/test_images/tzatzit-01.png filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
